@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.shadow {
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.th-num, .th-cab {
	width: 35px;
	min-width: 35px;
	white-space: nowrap;
}
.th-name {
	width: 260px;
	min-width: 260px;
}
.loader {
	border: 5px solid #aaa;
	border-top-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 50px auto;
	animation: loading .8s linear infinite;
}
*[data-toggle] {
	cursor: pointer;
}
tr[data-toggle]:hover {
	background-color: #f8f9fa;
}
.table-xs {
	font-size: .7em;
}
.sidebar {
	position: fixed;
	z-index: 999;
	top: 56px;
	width: 200px;
}
.navbar-toggler {
	outline: none;
}
.sidebar a {
	color: rgba(255,255,255,.5);
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}
.sidebar a:hover {
	color: rgba(255,255,255,.7);
}
.navbar {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
}
.clear-fix {
	height: 56px;
}
td select.form-control {
	width: auto;
}