@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.shadow {
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.th-num, .th-cab {
	width: 35px;
	min-width: 35px;
	white-space: nowrap;
}
.th-name {
	width: 260px;
	min-width: 260px;
}
.loader {
	border: 5px solid #aaa;
	border-top-color: transparent;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 50px auto;
	animation: loading .8s linear infinite;
}
*[data-toggle], *[type=submit] {
	cursor: pointer;
}
tr[data-toggle]:hover {
	background-color: #f8f9fa;
}
.table-xs {
	font-size: .7em;
}
.sidebar {
	z-index: 998;
	margin-top: 56px;
	width: 175px;
	background-color: #3f454a;
	transition: .3s;
}
.sidebar ul {
	padding-top: 10px;
}
.container-fluid {
	width: calc(100% - 175px);
}
.navbar-toggler {
	outline: none;
}
.sidebar a, .sidebar span {
	display: block;
	padding: 7px 15px;
	text-decoration: none;
	font-size: .95em;
}
.sidebar a {
	color: rgba(255,255,255,.5);
}
.sidebar .collapse a {
	font-size: .9em;
}
.sidebar span {
	font-size: .95em;
}
.sidebar .active a, .sidebar a:hover, .sidebar span {
	color: rgba(255,255,255,.7);
}
.navbar {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
}
.clear-fix {
	height: 56px;
}
td select.form-control {
	width: auto;
}
.label-sm {
	font-size: 0.9em;
	margin-bottom: .2rem;
}
.td-input {
	padding: 0 !important;
	position: relative;
}
.td-input input[type=number], .td-input textarea {
	width: 100%;
	border: none;
	resize: none;
	background: transparent;
}
.td-input input[type=number] {
	position: absolute;
	text-align: center;
	height: 100%;
}
.drag {
	user-select: none;
}
.helper {
	opacity: 0.85;
	position: fixed;
	z-index: 999;
}
.accept:hover {
	background: #eee;
	cursor: pointer;
}
.drag td span {
	display: block;
}
.cab-td {
	position: relative;
	padding: 0 !important;
}
.cab-td div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.cab-td span {
	width: 100%;
	height: 33px;
}
.modal li {
	cursor: pointer;
}
.span-badge {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 0.8em;
}
.overflow-auto {
	max-height: 70vh;
	overflow-y: auto;
}
.logout-button {
	outline: none;
	border: none;
	background: transparent;
}
.logout-button:hover {
	cursor: pointer;
	color: #fff;
}
.h-100vh {
	min-height: 100vh;
}
.navbar-hidden {
	position: absolute;
	bottom: 0;
	top: 0;
	transform: translateX(-100%);
}
.nav-tabs>li>a {
	display: block;
    text-decoration: none !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 10px;
    margin-bottom: -1px;
}
.nav-tabs>li>a.active, .nav-tabs>li>a.active:focus, .nav-tabs>li>a.active:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    padding: 9px;
}
.fixed-alert {
	position: fixed;
	z-index: 999;
	top: 70px;
	right: 15px;
}
.img-fluid {
	max-height: 100%;
}
.chat {
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	height: calc(100vh - 90px);
}
.message {
	max-width: 80%;
}
.chat textarea {
	resize: none;
}
.chat .d-flex .reply-link {
	display: none;
}
.chat .d-flex:hover .reply-link {
	display: block;
	cursor: pointer;
}
*[hidden] {
	display: none !important;
}
.message a {
	color: inherit;
	font-size: 0.9em;
}
.message img {
	max-width: 100%;
}
.white-img {
	filter: invert();
}
.muted-img {
	opacity: 0.7;
}
.text-muted img, .img-muted {
	opacity: 0.4;
}
.hover-none:hover {
	text-decoration: none !important;
}
.ready {
	display: block;
	width: 15px;
	height: 10px;
	border-bottom: 3px solid blue;
	border-left: 3px solid blue;
	transform: rotate(-45deg);
}
.session-progress text {
	fill: #008000;
	font-size: 40px;
}
.session-progress circle {
	transition: stroke-dasharray 1s;
}
.table-success td {
	background-color: #e4ffe8;
}